@model Arhitektura.Models.Destinacija

<style>
    .bckgrnd {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>

<div class="bckgrnd">
    <h2>Dodaj destinaciju</h2>
    <form asp-controller="Destinacija" asp-action="Create" method="post" style="width: 50%;">
    <div class="form-group">
        <label asp-for="Mesto">Mesto:</label>
        <input asp-for="Mesto" class="form-control" />
        <span asp-validation-for="Mesto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Drzava">Država:</label>
        <input asp-for="Drzava" class="form-control" />
        <span asp-validation-for="Drzava" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Opis">Opis:</label>
        <input asp-for="Opis" class="form-control" />
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Sačuvaj</button>
</form>
</div>

