@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@Context.Session.GetString("Username")</h1>
<br><br>

@if(Context.Session.GetString("Role") != "guest")
{
    <form asp-controller="Home" asp-action="Logout" method="post">
        <button type="submit" name="logout" class="btn btn-secondary" value="true">Odjavi se</button>
    </form>
}



